/* HOVER DAS IMAGENS DOS CARDS */
.img-hover {
    position: relative;
    width: 100%;
    height: 250px;
}

.img-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

/* Imagem padrão visível */
.img-hover img.normal {
    opacity: 1;
}

/* Imagem hover invisível até passar o mouse */
.img-hover img.hover {
    opacity: 0;
}

/* Troca ao passar o mouse */
.img-hover:hover img.normal {
    opacity: 0;
}

.img-hover:hover img.hover {
    opacity: 1;
}